@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;700&family=Mitr:wght@400;700&family=Montserrat+Alternates:wght@400;700&display=swap");
@import "tailwindcss";

/* ✅ Appliquer la police globale */
body {
  font-family: "Montserrat Alternates", sans-serif;
}

/* ✅ Définir les couleurs */
:root {
  --color-champagne: #ffead0;
  --color-mint: #59c9a5;
  --color-raspberry: #d81e5b;
}

/* ✅ Appliquer la couleur de fond et du texte */
.bg-champagne {
  background-color: var(--color-champagne);
}
.bg-mint {
  background-color: var(--color-mint);
}
.bg-raspberry {
  background-color: var(--color-raspberry);
}
.text-champagne {
  color: var(--color-champagne);
}
.text-mint {
  color: var(--color-mint);
}
.text-raspberry {
  color: var(--color-raspberry);
}
.border-champagne {
  border-color: var(--color-champagne);
}

h1 {
  font-family: "Fira Sans Condensed";
}
h2,
h3 {
  font-family: "Mitr", cursive;
}
