@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

/* ✅ Appliquer la police globale */
body {
  font-family: "DM Sans", sans-serif;
}

/* ✅ Définir les couleurs */
:root {
  --color-celadon: #b9e3c6;
  --color-mint: #59c9a5;
  --color-raspberry: #d81e5b;
}

/* ✅ Appliquer la couleur de fond et du texte */
.bg-celadon {
  background-color: var(--color-celadon);
}
.bg-mint {
  background-color: var(--color-mint);
}
.bg-raspberry {
  background-color: var(--color-raspberry);
}
.text-celadon {
  color: var(--color-celadon);
}
.text-mint {
  color: var(--color-mint);
}
.text-raspberry {
  color: var(--color-raspberry);
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", cursive;
}
